.next
node_modules
tsconfig.tsbuildinfo
next-env.d.ts
coverage
*.log
logs
.git
.env
.env.*

.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.cache
tmp
temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
